---
interface Project {
  id: number;
  name: string;
  url: string;
  technologies: string;
  createTo: string;
}
interface Props {
  project: Project;
}

const {
  project: { id, name, url, technologies, createTo },
} = Astro.props;
---

<astro-project data-id={id}>
  <div class="projects__card" id="projects">
    <p>Click para mas...</p>
    <h3 class="projects__card--title">{name} </h3>
    <img
      class="projects__card--img"
      src={`/projects/${url}`}
      alt="project formDi"
    />
    <h6 class="projects__card--technology">
      Tecnologías: <span>{technologies}</span>
    </h6>
    <h6 class="projects__card--createTo">hecho por: <span>{createTo}</span></h6>
  </div>
</astro-project>

<script type="module" src="/js/modal-project.js"></script>
