---
interface Project {
  id: number;
  name: string;
  url: string;
  technologies: string;
  createTo: string;
}
interface Props {
  project: Project;
}

const {
  project: { id, name, url, technologies, createTo },
} = Astro.props;
---

<astro-project data-id={id}>
<div class="projects__card" id="projects">
    <h3 class="projects__card--title">{name} <span>Click to more</span></h3>
    <img
      class="projects__card--img"
      src={`/projects/${url}`}
      alt="project formDi"
    />
    <p class="projects__card--technology">
      technologies: <span>{technologies}</span>
    </p>
    <p class="projects__card--createTo">Made to: <span>{createTo}</span></p>
	</div>
</astro-project>

<script type="module" src="/js/modal-project.js"></script>
